In [1]:
import pandas

In [2]:
df3= pandas.read_excel("C:/Users/user/Desktop/DMX/Datasets/Additional Datasets/Association Rules Ex 2.xlsx")
df3

,Date,Bill Number,Item Desc,Time,Quantity,Rate,Tax,Discount,Total,Category
0,2010-04-01,G0470115,QUA MINERAL WATER(1000ML),13:15:11,1,50.0,11.88,0.0,61.88,BEVERAGE
1,2010-04-01,G0470115,MONSOON MALABAR (AULAIT),13:15:11,1,100.0,23.75,0.0,123.75,BEVERAGE
2,2010-04-01,G0470116,MASALA CHAI CUTTING,13:17:35,1,40.0,9.50,0.0,49.50,BEVERAGE
3,2010-04-01,G0470117,QUA MINERAL WATER(1000ML),13:19:55,1,50.0,11.88,0.0,61.88,BEVERAGE
4,2010-04-01,G0470283,MOROCCAN MINT TEA,01:20:18,1,45.0,10.69,0.0,55.69,BEVERAGE
...,...,...,...,...,...,...,...,...,...,...
145825,2010-05-22,N0028716,ZINZI WHITE (GLS),21:43:55,2,150.0,78.00,0.0,378.00,LIQUOR
145826,2010-04-27,N0028343,ZINZI WHITE (GLS),20:52:11,2,150.0,78.00,0.0,378.00,LIQUOR
145827,2010-05-28,N0028835,ZINZI WHITE (GLS),01:03:37,3,150.0,117.00,0.0,567.00,LIQUOR
145828,2010-04-30,N0028399,ZINZI WHITE (GLS),23:44:37,1,150.0,39.00,0.0,189.00,LIQUOR
145829,2010-07-09,N0029472,ZINZI WHITE (BTL),00:31:51,1,700.0,182.00,0.0,882.00,LIQUOR

In [3]:
df3.set_index('Date')
df3

,Date,Bill Number,Item Desc,Time,Quantity,Rate,Tax,Discount,Total,Category
0,2010-04-01,G0470115,QUA MINERAL WATER(1000ML),13:15:11,1,50.0,11.88,0.0,61.88,BEVERAGE
1,2010-04-01,G0470115,MONSOON MALABAR (AULAIT),13:15:11,1,100.0,23.75,0.0,123.75,BEVERAGE
2,2010-04-01,G0470116,MASALA CHAI CUTTING,13:17:35,1,40.0,9.50,0.0,49.50,BEVERAGE
3,2010-04-01,G0470117,QUA MINERAL WATER(1000ML),13:19:55,1,50.0,11.88,0.0,61.88,BEVERAGE
4,2010-04-01,G0470283,MOROCCAN MINT TEA,01:20:18,1,45.0,10.69,0.0,55.69,BEVERAGE
...,...,...,...,...,...,...,...,...,...,...
145825,2010-05-22,N0028716,ZINZI WHITE (GLS),21:43:55,2,150.0,78.00,0.0,378.00,LIQUOR
145826,2010-04-27,N0028343,ZINZI WHITE (GLS),20:52:11,2,150.0,78.00,0.0,378.00,LIQUOR
145827,2010-05-28,N0028835,ZINZI WHITE (GLS),01:03:37,3,150.0,117.00,0.0,567.00,LIQUOR
145828,2010-04-30,N0028399,ZINZI WHITE (GLS),23:44:37,1,150.0,39.00,0.0,189.00,LIQUOR
145829,2010-07-09,N0029472,ZINZI WHITE (BTL),00:31:51,1,700.0,182.00,0.0,882.00,LIQUOR

In [4]:
df4 = df3.set_index('Date')
df4

,Bill Number,Item Desc,Time,Quantity,Rate,Tax,Discount,Total,Category
Date,,,,,,,,,
2010-04-01,G0470115,QUA MINERAL WATER(1000ML),13:15:11,1,50.0,11.88,0.0,61.88,BEVERAGE
2010-04-01,G0470115,MONSOON MALABAR (AULAIT),13:15:11,1,100.0,23.75,0.0,123.75,BEVERAGE
2010-04-01,G0470116,MASALA CHAI CUTTING,13:17:35,1,40.0,9.50,0.0,49.50,BEVERAGE
2010-04-01,G0470117,QUA MINERAL WATER(1000ML),13:19:55,1,50.0,11.88,0.0,61.88,BEVERAGE
2010-04-01,G0470283,MOROCCAN MINT TEA,01:20:18,1,45.0,10.69,0.0,55.69,BEVERAGE
...,...,...,...,...,...,...,...,...,...
2010-05-22,N0028716,ZINZI WHITE (GLS),21:43:55,2,150.0,78.00,0.0,378.00,LIQUOR
2010-04-27,N0028343,ZINZI WHITE (GLS),20:52:11,2,150.0,78.00,0.0,378.00,LIQUOR
2010-05-28,N0028835,ZINZI WHITE (GLS),01:03:37,3,150.0,117.00,0.0,567.00,LIQUOR
2010-04-30,N0028399,ZINZI WHITE (GLS),23:44:37,1,150.0,39.00,0.0,189.00,LIQUOR
2010-07-09,N0029472,ZINZI WHITE (BTL),00:31:51,1,700.0,182.00,0.0,882.00,LIQUOR

In [5]:
df4.loc['2010-05-22':'2010-07-09','Item Desc':'Rate'] #loc for labels esp text

                                 Item Desc      Time  Quantity   Rate
Date
2010-06-06  1 AXE TWIST                     19:28:07         1   70.0
2010-05-28  1 AXE TWIST                     17:06:24         1   70.0
2010-06-27  1+1 BTL4 SEASON WHITE           19:54:25         1  900.0
2010-06-01  CAFFE LATTE                     01:03:40         1   70.0
2010-06-01  BERRY BLAST                     01:03:40         2   95.0
...                                    ...       ...       ...    ...
2010-06-08  ZINZI WHITE  (GLS)              10:41:38         1  150.0
2010-06-10  ZINZI WHITE  (GLS)              01:00:53         2  150.0
2010-05-22  ZINZI WHITE  (GLS)              21:43:55         2  150.0
2010-05-28  ZINZI WHITE  (GLS)              01:03:37         3  150.0
2010-07-09  ZINZI WHITE (BTL)               00:31:51         1  700.0

[18037 rows x 4 columns]

In [6]:
df4.loc['2010-05-22','Category']

Date
2010-05-22        MISC
2010-05-22        FOOD
2010-05-22    BEVERAGE
2010-05-22        FOOD
2010-05-22    BEVERAGE
                ...
2010-05-22        FOOD
2010-05-22        FOOD
2010-05-22    BEVERAGE
2010-05-22        FOOD
2010-05-22      LIQUOR
Name: Category, Length: 433, dtype: object

In [7]:
df4.loc[:,'Category']

Date
2010-04-01    BEVERAGE
2010-04-01    BEVERAGE
2010-04-01    BEVERAGE
2010-04-01    BEVERAGE
2010-04-01    BEVERAGE
                ...
2010-05-22      LIQUOR
2010-04-27      LIQUOR
2010-05-28      LIQUOR
2010-04-30      LIQUOR
2010-07-09      LIQUOR
Name: Category, Length: 145830, dtype: object

In [8]:
list(df4.loc[:,'Category'])

['BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'MERCHANDISE',
 'MERCHANDISE',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'MISC',
 'MISC',
 'MISC',
 'MISC',
 'MISC',
 'MISC',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'WINES',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'TOBACCO',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'LIQUOR',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'BEVERAGE',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 'FOOD',
 ...]

In [9]:
df4.iloc[200:250,1:6] #for indexing , preferred style.

,Item Desc,Time,Quantity,Rate,Tax
Date,,,,,
2010-04-01,GOOEY CHOCOLATE FUDGE,20:07:33,1,65.0,15.44
2010-04-01,GREAT LAKES SHAKE,20:09:52,1,110.0,26.13
2010-04-01,GREAT LAKES SHAKE,20:11:53,2,110.0,52.25
2010-04-01,GOOEY CHOCOLATE FUDGE,20:16:03,1,65.0,15.44
2010-04-01,CHICKEN SALAMI PANINI,20:21:33,1,115.0,27.31
2010-04-01,NON-VEG CLUB WRAP,20:21:33,1,160.0,38.00
2010-04-01,PHILLYCREAM CHEESE &CHILLY PAN,20:32:22,1,105.0,24.94
2010-04-01,MAGGI NDL ARRABIATA,20:32:22,1,125.0,29.69
2010-04-01,SCRAMBLED EGGS,20:33:30,2,95.0,45.13
2010-04-01,MT. BROWNIE,20:37:49,1,180.0,42.75
2010-04-01,GARDEN FRESH PANINI,20:38:09,2,105.0,49.88
2010-04-01,TOBLERONE SHAKE,20:50:46,1,135.0,32.06
2010-04-01,SEASONAL FRUITPIE (LOWCAL),21:05:48,1,140.0,33.25
2010-04-01,MAGGI NDLCREAM/ CHEE/GARLIC,21:09:05,1,125.0,29.69
2010-04-01,COTTAGE CHEESE PANINI,21:19:44,1,105.0,24.94
2010-04-01,GARDEN FRESH PANINI,21:19:48,1,105.0,24.94
2010-04-01,DUTCH TRUFFLE CAKE SHAKE,21:29:41,1,135.0,32.06
2010-04-01,OREO COOKIE SHAKE,21:29:41,1,145.0,34.44
2010-04-01,POUTINE WITH WEDGES,21:35:52,1,165.0,39.19
2010-04-01,B.M.T. PANINI,21:39:08,1,105.0,24.94
2010-04-01,MEZE PLATTER,21:39:08,1,110.0,26.13
2010-04-01,GREAT LAKES SHAKE,21:45:02,1,110.0,26.13
2010-04-01,COUNTRY ROAST CHICKEN PANINI,21:45:02,1,115.0,27.31
2010-04-01,OREO COOKIE SHAKE,22:16:23,1,145.0,34.44
2010-04-01,LAVA LAVA,22:16:23,1,150.0,35.63
2010-04-01,GREAT LAKES SHAKE,22:34:55,1,110.0,26.13
2010-04-01,JR.CHL AVALANCHE,22:49:14,1,160.0,38.00
2010-04-01,JR.CHL AVALANCHE,22:53:37,1,160.0,38.00
2010-04-01,GOOEY CHOCOLATE FUDGE,23:11:44,1,65.0,15.44
2010-04-01,SATAY CHICKEN PANINI,23:11:44,1,115.0,27.31
2010-04-01,MAGGI NDLTHAI STYLE,23:11:44,1,140.0,33.25
2010-04-01,PHILLYCREAM CHEESE &CHILLY PAN,23:11:44,2,105.0,49.88
2010-04-01,GREAT LAKES SHAKE,23:15:01,1,110.0,26.13
2010-04-01,OREO COOKIE SHAKE,23:21:15,1,145.0,34.44
2010-04-01,GARDEN FRESH PANINI,23:25:37,1,105.0,24.94
2010-04-01,GREAT LAKES SHAKE,23:25:37,2,110.0,52.25
2010-04-01,B.M.T. PANINI,23:28:02,1,105.0,24.94
2010-04-01,DUTCH TRUFFLE CAKE SHAKE,23:28:02,1,135.0,32.06
2010-04-01,NON-VEG CLUB WRAP,23:28:02,1,160.0,38.00
2010-04-01,THE GREAT INDIAN WRAP,23:28:02,1,160.0,38.00
2010-04-01,COUNTRY ROAST CHICKEN PANINI,23:28:02,2,115.0,54.63
2010-04-01,ROCKY ROAD SHAKE,23:41:51,1,135.0,32.06
2010-04-01,MT. BROWNIE,23:41:51,1,180.0,42.75
2010-04-01,B.M.T. PANINI,00:08:20,1,105.0,24.94
2010-04-01,B.M.T. PANINI,00:08:20,1,105.0,24.94
2010-04-01,KIT KAT SHAKE,00:08:20,1,135.0,32.06
2010-04-01,GREAT LAKES SHAKE,00:08:20,2,110.0,52.25
2010-04-01,LINDT CHOCOLATE SHAKE,00:08:20,2,260.0,123.50
2010-04-01,COTTAGE CHEESE PANINI,00:24:01,1,105.0,24.94
2010-04-01,GARDEN FRESH PANINI,00:24:01,1,105.0,24.94

In [10]:
df4.iloc[:,1:6]

                                 Item Desc      Time  Quantity   Rate     Tax
Date
2010-04-01  QUA  MINERAL WATER(1000ML)      13:15:11         1   50.0   11.88
2010-04-01  MONSOON MALABAR (AULAIT)        13:15:11         1  100.0   23.75
2010-04-01  MASALA CHAI CUTTING             13:17:35         1   40.0    9.50
2010-04-01  QUA  MINERAL WATER(1000ML)      13:19:55         1   50.0   11.88
2010-04-01  MOROCCAN MINT TEA               01:20:18         1   45.0   10.69
...                                    ...       ...       ...    ...     ...
2010-05-22  ZINZI WHITE  (GLS)              21:43:55         2  150.0   78.00
2010-04-27  ZINZI WHITE  (GLS)              20:52:11         2  150.0   78.00
2010-05-28  ZINZI WHITE  (GLS)              01:03:37         3  150.0  117.00
2010-04-30  ZINZI WHITE  (GLS)              23:44:37         1  150.0   39.00
2010-07-09  ZINZI WHITE (BTL)               00:31:51         1  700.0  182.00

[145830 rows x 5 columns]

In [11]:
df4.iloc[200:210,]

,Bill Number,Item Desc,Time,Quantity,Rate,Tax,Discount,Total,Category
Date,,,,,,,,,
2010-04-01,G0470216,GOOEY CHOCOLATE FUDGE,20:07:33,1,65.0,15.44,0.0,80.44,FOOD
2010-04-01,G0470217,GREAT LAKES SHAKE,20:09:52,1,110.0,26.13,0.0,136.13,FOOD
2010-04-01,G0470218,GREAT LAKES SHAKE,20:11:53,2,110.0,52.25,0.0,272.25,FOOD
2010-04-01,G0470220,GOOEY CHOCOLATE FUDGE,20:16:03,1,65.0,15.44,0.0,80.44,FOOD
2010-04-01,G0470221,CHICKEN SALAMI PANINI,20:21:33,1,115.0,27.31,0.0,142.31,FOOD
2010-04-01,G0470221,NON-VEG CLUB WRAP,20:21:33,1,160.0,38.00,0.0,198.00,FOOD
2010-04-01,G0470222,PHILLYCREAM CHEESE &CHILLY PAN,20:32:22,1,105.0,24.94,0.0,129.94,FOOD
2010-04-01,G0470222,MAGGI NDL ARRABIATA,20:32:22,1,125.0,29.69,0.0,154.69,FOOD
2010-04-01,G0470223,SCRAMBLED EGGS,20:33:30,2,95.0,45.13,0.0,235.13,FOOD
2010-04-01,G0470224,MT. BROWNIE,20:37:49,1,180.0,42.75,0.0,222.75,FOOD

In [12]:
df4.iloc[1000,1:6]

Item Desc    OREO COOKIE SHAKE
Time                               17:43:33
Quantity                                  1
Rate                                  145.0
Tax                                   34.44
Name: 2010-06-01 00:00:00, dtype: object